src/components/Navbar.css .nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  /* overflow: hidden; */
  /* background-color: rgb(69, 66, 66); */
  background-color: #363c48;
}

.nav li {
  float: left;
}

.nav Link {
  display: block;
  /* color: white; */
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav Link:hover {
  background-color: #ddd;
  /* color: black; */
}

.dropdown {
  display: inline-block;
}
.dropdown Link {
  text-decoration: none;
}

.home,
.medication,
.medical-equipment,
.medical-supplies,
.personal-care,
.child-care,
.fitness-and-supplement {
  margin-right: 20px;
  color: white;
  font-weight: bold;
  font-size: 1.25em;
  text-decoration: none;
}

.dropdown-content {
  display: none;
  position: absolute;
  /* background-color: #f9f9f9; */
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* .dropdown-content Link:hover {
  background-color: black;
  color: white;
  text-decoration: none;
} */
.dropdown:hover .dropdown-content {
  display: flex;
  flex-direction: column;
  background-color: black;
  color: white;
  text-decoration: none;
}

/* Navbar {
  background-color: #363c48;
} */
